body {
    background-color: #002b36;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Open Sans, Arial;
    color: #93a1a1;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    padding-top: 20px;
}

p {
    font-size: 16px;
    text-align: justify;
} 

a {
    color: #268bd2;
}

blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fdf6e3;
}

.right{
    float:right;
}

.left{
    float:left;
}

.bullet-l1{
    text-indent: 25px;
    margin: 0px;
    padding: 0px;
}

.bullet-l2{
    text-indent: 50px;
    margin: 0px;
    padding: 0px;
}